<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="/images/london.jpg" style="width: 100%" alt="london">
        <div class="text">london</div>
    </div>
    <div class="mySlides fade">
        <img src="/images/ny.jpg" style="width: 100%" alt="ny">
        <div class="text">ny</div>
    </div>
    <div class="mySlides fade">
        <img src="/images/spb.jpg" style="width: 100%" alt="spb">
        <div class="text">spb</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094</a>
    <a class="next" onclick="plusSlides(1)">&#10095</a>
</div>