.video-container{
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
    position: relative;
}

.navbar{
    color: darkgray;
    padding-left: 15%;
}

.navbar p{
    color: darkgray;
    padding-left: 15%;
}

.navbar p:hover{
    color: aliceblue;
}

header{
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

#header-index{
    color: #44453f;
}

.searchline:hover{
    
    background-color: aqua;
}

.review-container,.review-button{
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text{
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside{
    height: 100%; 
    width: 10%;
    position: absolute; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 2%;
    font-size: large;
}

body{
    padding-left: 11%;
}

header,footer,aside,body,.navbar,.video-container{
    font-family: "Helvetica 65 Medium", sans-serif;
}

header,footer,body,.video-container{
    background-color: #e9f5f4;
}

